<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.twoddl.TwoDdlServiceImpl"
        id="twoddl.tv" vendor="birchie" version="1.0.4">
    <attributes>
        <attribute id="urlRegex" value="https?://(\w+\.)?(twoddl\.(tv|eu|com|org)|best2ddl\.net|2ddl\.(cr|la|link|download|ooo|pro)|iiddl\.com)/.+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="twoddl.tv iiddl.com 2ddl.la"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="twoddl.tv" path="/" type="code"/>
    </runtime>
</plugin>